<!DOCTYPE html>

<html>
  <head>
    <title>Jovian Careers</title>
    {% include 'bootstrap.html' %}
    <style>
      #open_page {
        height: 360px;
        width: 100%;
        object-fit:cover; 
      }
    </style>
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4"> 
        {{company_name}} Careers                              
      </h1>
      <img class="img-fluid"id="open_page" src='https://jovian-career-website.vantakapu.repl.co/static/open_page.jpeg' height='320'>
      <h2 class="text-center">About Company</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat vivamus at augue eget arcu dictum varius duis. Nisl purus in mollis nunc sed id semper risus in. Augue lacus viverra vitae congue eu consequat. Sollicitudin tempor id eu nisl nunc mi. Leo duis ut diam quam nulla porttitor massa id.
      </p>
      <h2 class="text-center mt-2 mb-2">Job Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a href="mailto:hello@jovian.ai?subject=Question%20about%20job%20opening&body=My%20name%3A%20%3CYour%20name%3E%0D%0A%0D%0AMy%20question%3A%20%3C%20Your%20question%3E"class="btn btn-primary btn-lg">Contact Us</a>
        <p class="mt-3"></p>
      </div>
    </div>
      {% include 'footer.html' %}
    

    
  </body>

  
</html>